* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #FFFFFF;
}

section {
    /* padding-left: 120px;
    padding-right: 120px; */
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

main {
    margin-bottom: 64px;
}

footer {
    /* height: 207px; */
    min-height: 130px;
    background: #F7F6F6;
    display: flex;
    justify-content: space-between;
    /* padding-left: 120px;
    padding-right: 120px; */
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
    padding-top: 32px;
    padding-bottom: 32px;
}
input:focus{
    outline: none;
}

.intro-header {
    height: 76px;
    /* padding-top: 16px; */
    /* margin-left: 120px;
    margin-right: 120px; */
    margin-left: calc(50% - 600px);
    margin-right: calc(50% - 600px);

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid rgba(255,255,255, 0.8);
}

.header-logo {
    height: 44px;
}

.header-search {
    /* margin-left: 25%; */
    height: 41px;
    width: 288px;
    padding-left: 32px;
    padding-right: 32px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
    background: transparent;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.header-search::placeholder {
    color: #FFFFFF;
}

.header-nav {
    /* margin-left: 120px; */
    display: flex;
    justify-content: space-between;
}

.header-nav-element {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
    flex: none;
    order: 0;
    flex-grow: 0;
    /* margin: 0px 32px; */
}

.header-nav-element:nth-child(2n) {
    margin-left: 32px;
}

.intro {
    min-height: 735px;
    background-image: url('../img/intro_background.jpg');
    background-size: cover;
}

.intro.catalog {
    min-height: 400px;
    background-image: url('../img/intro_background_catalog.jpg');
    background-size: cover;  
}

.main-header {
    margin-top: 64px;
    margin-bottom: 16px;
    max-width: 792px;
    /* margin-left: 117px; */
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    color: #FFFFFF;
}

.main-header.catalog {
    margin-top: 120px;
}

.catalog-control-bar {
    padding-top: 64px;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
}

.catalog-breadcrumb-nav-ul {
    display: flex;
    list-style: none;
}

.catalog-breadcrumb-nav-element {
    display: inline;
    text-decoration: none;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;

    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.catalog-breadcrumb-nav a + a::before {
    content: "\00a0/\00a0\00a0";

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;

    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.catalog-sort-dropdown {
    height: 41px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 20px;
    padding-left: 10px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    color: #000000;
}

/* Doesn't work in Firefox (Works in Google Chrome) */
.catalog-sort-option {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    color: #000000;
}

.slogan-paragraph {
    min-height: 32px;
    margin-bottom: 16px;
    /* margin-left: 117px; */
    margin-top: 16px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}

.catalog-link {
    height: 24px;
    /* margin-left: 120px; */
    margin-top: 16px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.section-header {
    height: 59px;
    margin-top: 64px;
    margin-bottom: 32px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;

    display: flex;
    align-items: center;

    color: #000000;
}

.category-cards {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(12, 1fr);
}

.category-card.big-card {
    grid-column: span 6;
}

.category-card {
    grid-column: span 4;
    height: 415px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.product-cards {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: space-between;
    /* margin-bottom: 39px; */
}

.product-card {
    width: 379px;
    padding-bottom: 56px;
}

.product-image {
    object-fit: cover;
    padding-bottom: 10px;
}

.special-offer-price {
    display: flex;
    flex-direction: row;
}

.product-name {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 0px 0px 8px 0px;
}

.product-desc {
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    margin: 0px 0px 12px 0px;
}

.price {
    font-weight: 500;
    font-size: 22px;
    line-height: 29px;
    color: #050505;
    margin-right: 32px;
}
.price-old {
    text-decoration-line: line-through;
    color: #888888;
}

.catalog-section-link {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #000000;
}

.footer-section {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

.footer-logo {
    filter: brightness(0%);
}

.footer-section-element {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 0px 0px 12px 0px;
}

.footer-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    text-decoration: none;
}

.footer-contacts-social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-subscription {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.subscription-header {
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin: 0px 0px 16px 0px;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
}

.subscription-email-input {
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    width: 275px;
    height: 46px;
    padding-left: 32px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #636363;
}

.subscription-email-input::placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #C4C4C4;
}

.subscribe-button {
    background: rgba(222, 215, 215, 0.41);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
    width: 275px;
    height: 46px;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

.footer-link, .footer-contacts-social, .subscription-email-input, .subscribe-button {
    margin-bottom: 12px;
}