@charset "UTF-8";
.centered {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

img {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  background-color: #FFFFFF;
}

main {
  margin-bottom: 64px;
}

footer {
  min-height: 130px;
  background: #F7F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 32px;
}

input:focus {
  outline: none;
}

.intro {
  min-height: 735px;
  background-image: url("../img/intro_background.jpg");
  background-size: cover;
  margin-bottom: 64px;
}

.slogan-paragraph {
  min-height: 32px;
  margin-bottom: 16px;
  margin-top: 16px;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}

.catalog-link {
  height: 24px;
  margin-top: 16px;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.intro-header {
  height: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  -webkit-column-gap: 24px;
          column-gap: 24px;
}

.header-logo {
  height: 44px;
}

.header-search {
  height: 41px;
  width: 288px;
  padding-left: 32px;
  padding-right: 32px;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  background: transparent;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.header-search::-webkit-input-placeholder {
  color: #FFFFFF;
}

.header-search:-ms-input-placeholder {
  color: #FFFFFF;
}

.header-search::-ms-input-placeholder {
  color: #FFFFFF;
}

.header-search::placeholder {
  color: #FFFFFF;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-nav.mobile {
  display: none;
}

.header-nav-element {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.header-nav-element:nth-child(2n) {
  margin-left: 32px;
}

.main-header {
  margin-top: 64px;
  margin-bottom: 16px;
  max-width: 792px;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  color: #FFFFFF;
}

.main-header.mobile {
  display: none;
}

.main-header.catalog, .main-header.cart {
  margin-top: 120px;
}

.section-header {
  height: 59px;
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}

.category-cards {
  display: -ms-grid;
  display: grid;
  gap: 32px;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  margin-bottom: 64px;
}

.category-card.big-card {
  grid-column: span 6;
}

.category-card {
  grid-column: span 4;
  height: 415px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
}

.product-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* flex-direction: row; */
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.product-card {
  width: 379px;
  margin-bottom: 36px;
}

.product-image {
  -o-object-fit: cover;
     object-fit: cover;
  padding-bottom: 10px;
}

.product-name {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0px 0px 8px 0px;
}

.product-desc {
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin: 0px 0px 12px 0px;
}

.price {
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  color: #050505;
  margin-right: 32px;
}

.price-old {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #888888;
}

.special-offer-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.catalog-section-link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.footer-logo {
  -webkit-filter: brightness(0%);
          filter: brightness(0%);
  width: 198px;
  margin-right: 80Ззгpx;
}

.footer-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
}

.footer-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}

.footer-section-element {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 12px;
}

.footer-contacts-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.subscription-header {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 16px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.subscription-email-input {
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  width: 275px;
  height: 46px;
  padding-left: 32px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #636363;
}

.subscription-email-input::-webkit-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
}

.subscription-email-input:-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
}

.subscription-email-input::-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
}

.subscription-email-input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
}

.subscribe-button {
  background: rgba(222, 215, 215, 0.41);
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  width: 275px;
  height: 46px;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

.subscribe-button:hover {
  background-color: #e6e6e6;
  border: none;
  color: #000000;
}

.footer-link, .footer-contacts-social, .subscription-email-input, .subscribe-button {
  margin-bottom: 12px;
}

.intro.catalog {
  min-height: 400px;
  background-image: url("../img/intro_background_catalog.jpg");
  background-size: cover;
}

.catalog-control-bar {
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog-breadcrumb-nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.catalog-breadcrumb-nav-element {
  display: inline;
  text-decoration: none;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.catalog-breadcrumb-nav a + a::before {
  content: "\00a0/\00a0\00a0";
  font-size: 16px;
  line-height: 32px;
  color: #000000;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.catalog-sort-dropdown {
  height: 41px;
  border: 1px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  padding-left: 10px;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

/* Doesn't work in Firefox (Works in Google Chrome) */
.catalog-sort-option {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.intro.cart {
  min-height: 400px;
  background-image: url("../img/intro_background_cart.jpg");
  background-size: cover;
}

.cart-section {
  margin-top: 32px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  gap: 32px;
}

.cart-pane {
  min-width: 786px;
}

.cart-header-bar {
  padding-bottom: 16px;
  grid-column: span 8;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}

.product-card.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 173px;
  padding-top: 32px;
  padding-bottom: 32px;
  border-top: 1px solid rgba(136, 136, 136, 0.3);
}

.product-image.cart {
  max-height: 173px;
  max-width: 173px;
  -o-object-fit: cover;
     object-fit: cover;
  padding-bottom: 0;
}

.cart-product-info {
  padding-left: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-name.cart {
  font-size: 24px;
  line-height: 29px;
}

.product-desc.cart {
  font-size: 14px;
  line-height: 17px;
  max-width: 276px;
}

.price.cart {
  font-size: 16px;
  line-height: 20px;
}

.product-card-control {
  margin-top: auto;
}

.product-card-button {
  margin-right: 32px;
  font-size: 14px;
  line-height: 24px;
  border: none;
  background: none;
  color: #000000;
}

.product-amount-input {
  margin-left: auto;
  height: 51px;
  width: 71px;
  background: #F7F6F6;
  border-radius: 6px;
  border: none;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}

.order-pane {
  grid-column: span 4;
  min-width: 329px;
  max-height: 400px;
  background: #F7F6F6;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 42px;
  padding-bottom: 42px;
  padding-left: 28px;
  padding-right: 28px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order-pane-header {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.order-name, .order-phone-number, .order-delivery-address {
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid rgba(136, 136, 136, 0.3);
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin-top: 42px;
  color: #000000;
}

.order-name::-webkit-input-placeholder, .order-phone-number::-webkit-input-placeholder, .order-delivery-address::-webkit-input-placeholder {
  color: #000000;
}

.order-name:-ms-input-placeholder, .order-phone-number:-ms-input-placeholder, .order-delivery-address:-ms-input-placeholder {
  color: #000000;
}

.order-name::-ms-input-placeholder, .order-phone-number::-ms-input-placeholder, .order-delivery-address::-ms-input-placeholder {
  color: #000000;
}

.order-name::placeholder, .order-phone-number::placeholder, .order-delivery-address::placeholder {
  color: #000000;
}

.order-total-block {
  margin-top: 64px;
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.order-total-sum {
  font-weight: 600;
}

.cart-pane-control {
  margin-bottom: 64px;
}

.checkout-button {
  width: 290px;
  height: 41px;
  background: none;
  border: 1px solid #040404;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #000000;
}

.clear-cart-button, .continue-shopping-button {
  width: 200px;
  height: 37px;
  background: none;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50px;
  margin-right: 16px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #020202;
}

@media (max-width: 1023px) {
  .centered {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  main {
    margin-bottom: 48px;
  }
  .intro.catalog {
    height: 100vh;
  }
  .category-card {
    height: 265px;
  }
  .footer-logo-link {
    display: none;
  }
  .footer-logo {
    display: none;
  }
  .footer-section:first {
    padding-left: 0;
  }
  .cart-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0;
  }
  .cart-pane-control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .order-pane {
    width: 364px;
    margin-bottom: 64px;
  }
}

@media (min-width: 768px) and (max-width: 833px) {
  .product-card {
    width: 340px;
  }
}

@media (max-width: 767px) {
  .centered {
    padding-left: calc(max(calc(50% - 178px), 12px));
    padding-right: calc(max(calc(50% - 178px), 12px));
  }
  footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }
  main {
    margin-bottom: 48px;
  }
  .intro {
    height: 100vh;
    margin-bottom: 32px;
    background-size: cover;
  }
  .header-logo {
    height: 22px;
  }
  .main-header {
    margin-top: 48px;
    margin-bottom: 16px;
    max-width: 333px;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
    text-align: center;
    display: none;
  }
  .main-header.mobile {
    display: block;
  }
  .main-header.mobile.short {
    margin-top: 35vh;
  }
  .slogan-paragraph {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
    text-align: center;
  }
  .catalog-link {
    display: block;
    font-size: 14px;
    line-height: 24px;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #FFFFFF;
    text-align: center;
  }
  .header-search {
    display: none;
  }
  .header-nav {
    display: none;
  }
  .header-nav.mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 32px;
            column-gap: 32px;
  }
  .header-nav-element {
    height: 20px;
    width: 20px;
  }
  .header-nav-element:nth-child(2n) {
    margin-left: 0px;
  }
  .section-header {
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
  }
  .category-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 32px;
    row-gap: 16px;
  }
  .category-card {
    height: 245px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-weight: 600;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
  }
  .product-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 32px;
    margin-bottom: 32px;
  }
  .product-card {
    width: 100%;
  }
  .product-image {
    height: 228px;
    -o-object-fit: cover;
       object-fit: cover;
    padding-bottom: 10px;
  }
  .product-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 8px;
  }
  .product-desc {
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    margin-bottom: 8px;
  }
  .price {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #050505;
    margin-right: 32px;
  }
  .price-old {
    -webkit-text-decoration-line: line-through;
            text-decoration-line: line-through;
    color: #888888;
  }
  .special-offer-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer-section {
    grid-column: span 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-section:last-of-type {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  .footer-contacts-social {
    -webkit-column-gap: 16px;
            column-gap: 16px;
  }
  .subscription-header {
    font-size: 14px;
  }
  .catalog-control-bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .catalog-sort-dropdown {
    margin-top: 16px;
  }
  .cart-pane {
    min-width: 0px;
  }
  .cart-product-info {
    padding-left: 0px;
  }
  .product-image.cart {
    display: none;
  }
  .clear-cart-button, .continue-shopping-button {
    width: 160px;
    font-size: 12px;
  }
  .product-card-control {
    margin-top: 12px;
  }
  .cart-pane-control {
    margin-bottom: 32px;
  }
  .order-pane {
    width: auto;
    min-width: 0px;
    grid-column: span 4;
    max-height: 400px;
    background: #F7F6F6;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 42px;
    padding-bottom: 42px;
    padding-left: 28px;
    padding-right: 28px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 32px;
  }
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.big-button {
  -webkit-transition: color .5s;
  transition: color .5s;
  overflow: hidden;
  background-image: linear-gradient(135deg, #31302B 50%, transparent 51%);
  background-size: 100px 100px;
  background-position: -50px -50px;
  background-repeat: no-repeat;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.big-button:hover {
  background-size: 200% 200%;
  background-position: 0px 0px;
  color: #FFF;
}
/*# sourceMappingURL=main.css.map */